<h1>Finanzas Personales</h1>
<h3>Historial de Transacciones</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tipo</th>
      <th scope="col">Descripción</th>
      <th scope="col">Importe</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Gastos Fijos</td>
      <td>Alquiler</td>
      <td>$ 3.000,00</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Gastos Fijos</td>
      <td>Internet</td>
      <td>$ 980,00</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Comida</td>
      <td>Compra Dia</td>
      <td>$ 1.200,80</td>
    </tr>
  </tbody>
</table>
